html,
body {
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
}

.iconNav {
    width: 35px;
    height: 45px;
}

.cart {
    color: white;
    font-size: 25px;
    padding: 0;
}

.cartNoti {
    position: relative;
}

.cartNoti span {
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 100%;
    bottom: 15px;
    left: 15px;
    background-color: red;
}

.cardCustom {
    min-height: 250px;
}

.imgProduct {
    max-width: 150px;
    padding: 10px 0;
}

.customDetail {
    background-color: white;
    color: black;
    border-radius: 5px;
}

.customDetail img {
    width: 250px;
    height: auto;
}

.main {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

footer {
    text-align: center;
    font-size: 14px;
}